@media not (max-width: 1000px){
    .pag-movil{
        display: none;
        background-color: white;
        background-image: none;
    }
}

body {
    margin: 0;
}

.pag-movil{
    background-color: #0B0919;
    color: #efefef;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#nav {
    background-color: #312e44f8;
    backdrop-filter: blur(2px);
    width: 100%;
    min-height: 50px;
    height: 4vh;
    border-radius: 0 0 5px 5px;
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(50px,4vh);
    z-index: 10 ;
}

/* BARRA DE NAVEGACION */
.nav-item {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7em;
}

.nav-item:active {
    background-color: #454360;
    border-radius: 2px 5px 5px 5px;
}


.nav-item-inicio {
    grid-column: 1;
    border-radius: 2px 5px 5px 5px;
}
.nav-item-carrito { 
    grid-column: 2;
}
.nav-item-usuario {
    grid-column: 3;
}

/* LOGOS */
.nav-item-enlace{
    width: 70%;
    max-width: 30px;
    height: 50%;
    padding-top: 4px;
    padding-bottom: 2px;
}
#logo-dron {
    width: 100%;
    max-width: 30px;
}

#logo-carro,#logo-user {
    width: 80%;
    padding-left:3px;
}

#logo-carro {
    padding-top: 1px;
}


#presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

    #presentacion p{
        font-size: 4.3vw;
    }

    #presentacion img{
        margin-top: 20px;    

    }

#logo-header {
    width: 70%;
}

/* SEPARADOR DE MARGEN SUPERIOR (DIV) */

.separador-top{
    min-height: 50px;
    height: 4vh;
}

/* CSS PARA VERSION NO COMPATIBLE */