header{
    display: grid;
    grid-template-columns: 72vw 1fr;
    grid-template-rows: 1fr;
}

header > h1 {
    margin-top: 7vh;
    grid-column: 1;
    margin-left: 7.5vw;
    font-size: 7vw;
    margin-bottom: 0;
}

header > div > img{
    width: 7vw;
    position: relative;
    bottom: 3vw;
    left: 3.5vw;
}

#header-icono-carrito{
    background-color: white;
    width:14vw;
    height: 14vw;
    border: 0px solid transparent;
    border-radius: 50%;
    grid-column: 2;
    margin: auto;
    margin-top: 6vh;
}

#header-icono-carrito-cantidad{
    background-color: black;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    position: relative;
    bottom: 3vw;
    left: 8.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARRITO LISTA */

#list-carrito-items {
    margin: 30px 7.5vw 10px;
    width: 85vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    row-gap: 70px;
    text-decoration: none;
    transition-property: margin-top;
    transition-duration: 0.5s;
    transition-delay: 0s;
}
.back-trash{
    background-color: #0b0b0b;
    box-shadow: inset 20px 20px 50px  #070707;
    position: relative;
    z-index: 2;
}

.back-trash > img{
    width: 10vw;
    position: absolute;
    top: 73%;
    left: 40%;
    z-index: 0 ;
}

.carrito-article {
    position: relative;
    z-index: -10;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 100%;
    text-align: center;
}

.invisible{
    position: relative;
    z-index: 10;
    background-image: url(FONDO-CARRITO.jpg);
    background-size: cover;
    height: 100%;
    bottom: 0;
    transition-property: bottom;
    transition-duration: 1s;
    transition-delay: 0s;

}

    .invisible:hover{
        bottom: 14vw;
    }
    #list-carrito-items:hover{
        margin-top: 17vw;
    }

    .Texto-productos{
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .Texto-productos span{
        padding: 0 20px 0;
    }

    .Texto-productos span ~ span{
        font-weight: bold;
    }

.Imagenes-article {
    width: 100%;
    height: 100%;
}

/* SECTION TOTAL COMPRA */

#section-precio-compra{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
}

#section-item-total{
    grid-column: 1;
    color: #978497;
    padding-left: 20px;
}

#section-item-precio{
    grid-column: 2;
    text-align: end;
    padding-right: 20px;
}

#section-item-compra{
    grid-column: 1 / 3;
    grid-row: 2;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 50vw 10vw;
    grid-template-rows: 1fr;

    background-color: white;
    border-radius: 10px;
}

#section-item-compra p{
    margin: auto;
    color: black;
}

    #section-item-compra img{
        width: 50%;
        margin: 8px auto;
    }

footer{
    margin-top: 5vh;
}

/* CSS PARA VERSION NO COMPATIBLE */