

main {
    margin-top: 10vh;
}

header{
    display: grid;
    grid-template-columns: 80vw 1fr;
    grid-template-rows: 1fr;
}

header > h1 {
    grid-column: 1;
    margin-left: 20px;
}

header > div > img{
    width: 7vw;
    position: relative;
    bottom: 3vw;
    left: 3.5vw;
}

#header-icono-carrito{
    background-color: white;
    width:14vw;
    height: 14vw;
    border-radius: 50%;
    grid-column: 2;
    margin: auto;
}

#header-icono-carrito-cantidad{
    background-color: black;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    position: relative;
    bottom: 3vw;
    left: 8.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARRITO LISTA */

.back-trash{
    background-color: white;
    position: relative;
    z-index: -2;
}

.back-trash > img{
    width: 35px;
    position: absolute;
    top: 70%;
    left: 40%;
    z-index: -1;
    padding-bottom: 50px;
}

#list-carrito-items {
    margin: 30px 7.5vw 10px;
    width: 85vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    row-gap: 70px;
    text-decoration: none;

}
.carrito-article {
    box-sizing: border-box;
    background-image: url(FONDO-CARRITO.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 100%;
    text-align: center;
    position: relative;
    /* PARA TRANSICION */
    /* bottom:; */
}

    .Texto-productos{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .Texto-productos span{
        padding: 0 20px 0;
    }

    .Texto-productos span ~ span{
        font-weight: bold;
    }

.Imagenes-article {
    width: 100%;
    height: 100%;
}

/* SECTION TOTAL COMPRA */

#section-precio-compra{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
}

#section-item-total{
    grid-column: 1;
    color: #978497;
    padding-left: 10px;
}

#section-item-precio{
    grid-column: 2;
    text-align: end;
    padding-right: 10px;
}

#section-item-compra{
    grid-column: 1 / 3;
    grid-row: 2;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 50vw 10vw;
    grid-template-rows: 1fr;

    background-color: white;
    border-radius: 10px;
}

#section-item-compra p{
    margin: auto;
    color: black;
}

    #section-item-compra img{
        width: 50%;
        margin: 8px auto;
    }

footer{
    margin-top: 10vh;
}
